/*Most likely want a readable and simple font for the working wealth title and slogan underneath*/
/*Flexbox most likely needed to align all buttons horizontally*/
/*<button> or <a> for clickable links?*/

.button a {
  color: white;
  margin-right: auto;
  gap: 15px;
}

.topicons {
  width: auto;
  height: 100px;
  align-items: center;
  gap: 15px;
  background-color: gray;
}

.logo {
  width: 75px;
  height: auto;
  margin-left: auto;

