/*Most likely want a readable and simple font for the working wealth title and slogan underneath*/
/*Flexbox most likely needed to align all buttons horizontally*/
/*<button> or <a> for clickable links?*/

.button a {
  color: white;
  margin-right: auto;
  gap: 30px;
  padding: 10px 10px;
}

.topicons {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  
}

.logo {
  width: 75px;
  height: auto;
  padding: 10px 10px;
}

body {
  margin: 0;
  padding: 0;
}

.secondpart {
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 6px;
}

.textimg {
  width: 300px;
  height: auto;
}

.secondparttext {
  text-align: center;
  width: 300px;
  height: auto;
}

